<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


 <link rel="shortcut icon" type="image/x-icon"
    href="https://storage.googleapis.com/muslimpergi/uploads/gallery/pict/3658/logo-hadiyya_300px.png" />
  <link rel="apple-touch-icon" type="image/x-icon"
    href="https://storage.googleapis.com/muslimpergi/uploads/gallery/pict/3658/logo-hadiyya_300px.png" />
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
    href="https://storage.googleapis.com/muslimpergi/uploads/gallery/pict/3658/logo-hadiyya_300px.png" />
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
    href="https://storage.googleapis.com/muslimpergi/uploads/gallery/pict/3658/logo-hadiyya_300px.png" />
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
    href="https://storage.googleapis.com/muslimpergi/uploads/gallery/pict/3658/logo-hadiyya_300px.png" />

    <link rel="shortcut icon" type="image/x-icon"
    href="/muslimpergi/uploads/site/favicon/209/logo-hadiyya-umroh-2025_420px.png">
  <link rel="apple-touch-icon" type="image/x-icon"
    href="/muslimpergi/uploads/site/favicon/209/logo-hadiyya-umroh-2025_420px.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
    href="/muslimpergi/uploads/site/favicon/209/logo-hadiyya-umroh-2025_420px.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
    href="/muslimpergi/uploads/site/favicon/209/logo-hadiyya-umroh-2025_420px.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
    href="/muslimpergi/uploads/site/favicon/209/logo-hadiyya-umroh-2025_420px.png">